@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.main-header__nav-link {
	display: block;
	padding-block: var(--sp-token-4);
	padding-inline: var(--sp-token-2);
	text-align: center;
	font-size: var(--fontSize-600);
	font-weight: var(--fontWeight-bold);
	box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 1);
	/* border-bottom: 2px solid black; */
	/* outline: none; */
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: -0.04em;
	transition: box-shadow 40ms ease-out, outline 120ms;
}

.remain,
.main-header__nav-link:hover,
.main-header__nav-link:focus,
.main-header__nav-link:active {
	color: var(--color-accent);
	outline-width: var(--sp-token-1);
	outline-style: solid;
	outline-color: black;
	outline-offset: 0;
	border-radius: var(--sp-token-2);
	transition: box-shadow 40ms ease-outs, outline 220ms;

	box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 1);
}
